<p style="color: green"><%= notice %></p>

<%= render @country %>

<div>
  <%= link_to "Back to countries", countries_path %>
</div>

<p><strong>Posts</strong></p>
<ul class="list-group">
  <% @country.posts.each do |post| %>
    <li class="list-group-item">
    <%= link_to post.title, country_post_path(@country, post) %>

    </li>
  <% end %>
</ul>
<br>

<%= link_to 'Add New Post', new_country_post_path(@country), class: "btn btn-success" %>
