<p style="color: green"><%= notice %></p>

<%= render @country %>

<p><strong>Posts</strong></p>

<div class = "card-trips">
<% @country.posts.each do |post| %>
  <div class="card-trip">
    <%= image_tag post.image, class: "card-trip-image" if post.image.attached? %>
    <div class="card-trip-infos">
      <div>
        <h2><%= post.title %></h2>
        <p><%= truncate(post.body, length: 100) %></p>
      </div>
      <%= link_to "View Details", country_post_path(@country, post), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>

<%= link_to 'Add New Post', new_country_post_path(@country), class: "btn btn-success" %>
