<h1>New Post</h1>
<%= simple_form_for [@country, @post] do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>

  <%= f.input :image, as: :file %>
  <%= f.submit "Create New Post", class: "btn btn-primary" %>
<% end %>
